<% include header %>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">学员管理</a></li>
        <li class="active">学员列表</li>
    </ol>
    <table class="table">
        <thead>
            <tr>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>学科</td>
                <td>电话</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0;i<userlist.length;i++){ %>
            <tr>
                <td>
                    <%= userlist[i].username %>
                </td>
                <td>
                    <%= userlist[i].sex==1?'男':'女' %>
                </td>
                <td>
                    <%= userlist[i].age %>
                </td>
                <td>
                    <%= userlist[i].kcName %>
                </td>
                <td>
                    <%= userlist[i].tel %>
                </td>
                <td>
                    <a href="/userEdit/<%= userlist[i]._id %>">编辑</a>
                    |
                    <a href="/userRemove/<%= userlist[i]._id %>" onclick="return confirm('您确定要删除吗?')">删除</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <!-- 分页 -->
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li>
                <a href="/?page=1">首页</a>
            </li>
            <li>
                <a href="/?page=<%= page -1%>">上一页</a>
            </li>
            <% for(var i=1;i<=maxPage;i++){ %>
            <li>
                <a href="/?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <li>
                <a href="/?page=<%= -(-page-1) %>">下一页</a>
            </li>
            <li>
                <a href="/?page=<%= maxPage %>">尾页</a>
            </li>
        </ul>
    </nav>
    <!-- 分页 end-->
</div>
<% include footer %>